<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.xyj.shop.user.mapper.IUserMapper">
  
	<resultMap id="BaseResultMap" type="com.xyj.shop.user.model.UserModel">
		<result column="id" property="id" />
		<result column="usercode" property="usercode" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="is_admin" property="isAdmin" />
	</resultMap>
  
	<sql id="User_Column_List">
		id, usercode,password, name,is_admin
	</sql>
  
  <!-- 	查询条件 -->
	<sql id="Append_Where">
		WHERE 1=1
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="usercode != null and usercode != ''">
				AND usercode LIKE #{usercode}
			</if>
			<if test="name != null and name != ''">
				AND name LIKE #{name}
			</if>
			<if test="isAdmin != null and isAdmin != ''">
				AND is_admin = #{isAdmin}
			</if>
			<if test="orderby != null and orderby != ''">
				ORDER BY  ${orderby}
			</if>
	</sql>
  
  	<!-- 	插入记录 -->
	<insert id="insert" parameterType="Object">
		INSERT INTO xshop.user(usercode,password, name,is_admin)
		VALUES(#{usercode},#{password}, #{name}, #{isAdmin})
	</insert>
  
  	<!-- 	删除记录 -->
	<delete id="delete" parameterType="Object">
		DELETE FROM xshop.user WHERE usercode = #{id}
	</delete>
  
	<select id="selectCount" resultType="java.lang.Integer"  >
		SELECT count(1) FROM xshop.user
		<include refid="Append_Where" />
	</select>
  
	<select id="selectList" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="User_Column_List" />
		FROM xshop.user
		<include refid="Append_Where" />
		LIMIT ${rowStart},${pageLimit}
	</select>
  
  	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="User_Column_List" />
		FROM xshop.user WHERE usercode = #{usercode}
	</select>
	
	<update id="passupd" parameterType="Object">
		UPDATE xshop.user SET password = #{password}
		WHERE usercode = #{usercode}
	</update>
  
  	<update id="update" parameterType="Object">
		UPDATE xshop.user SET 
		<trim suffixOverrides=",">
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="isAdmin != null and isAdmin != '' ">
				is_admin = #{isAdmin},
			</if>
		</trim>
		where usercode = #{usercode}
	</update>
  
  </mapper> 